@font-face {
    font-family: 'ProductSansRegular';
    src: url('../assets/ProductSansRegular.ttf');
}

@font-face {
    font-family: 'ProductSansBold';
    src: url('../assets/ProductSansBold.ttf');
}

.hero {
    background-image: url('../assets/BackGround-1.jpg');
min-height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'ProductSansRegular';
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
}

.nav-right{
    display: flex;
    gap: 10px;

}
.nav-right li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease;

}

.signup-btn{
    background-color: #2563eb;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;

}

a{
    text-decoration: none;
    color: black;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 25%;
align-items: center;
}

.hero-text{
    text-align: center;
    color: rgb(41, 41, 41);
    font-size: 4rem;
    font-weight: 500;
    font-family: 'ProductSansBold';
}

.hero-text-small{
    text-align: center;
    color: rgb(73, 73, 73);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'ProductSansRegular';

}

.get-started-btn{
    background-color: #2563eb;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 120px;
    transition: box-shadow .3s ease;
    font-size: 1rem;
margin: 50px 0;
}

.get-started-btn:hover{
    -webkit-box-shadow:0px 0px 50px 12px rgba(53,159,252,0.35);
    -moz-box-shadow: 0px 0px 50px 12px rgba(53,159,252,0.35);
    box-shadow: 0px 0px 50px 12px rgba(53,159,252,0.35);

}



.affieliate-showcase{
    width: 400px;
    height: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 1s ease-in-out;
}

.affieliate-showcase:hover{
    animation: scaleRotate 5s ease-in-out infinite;
}


@keyframes scaleRotate {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.02) rotate(1deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}
