@font-face {
    font-family: 'ProductSansRegular';
    src: url('../assets/ProductSansRegular.ttf');
}

@font-face {
    font-family: 'ProductSansBold';
    src: url('../assets/ProductSansBold.ttf');
}

.uses{
height: 100vh;
background-color: #f3f3fc;
}