@font-face {
    font-family: 'ProductSansRegular';
    src: url('../assets/ProductSansRegular.ttf');
}

@font-face {
    font-family: 'ProductSansBold';
    src: url('../assets/ProductSansBold.ttf');
}

@font-face {
    font-family: 'AnekTamil-Regular';
    src: url('../assets/AnekTamil-Regular.ttf');
}


.main{
    margin: 0;
    padding: 0;
    background-color:#ffffff;
    height: 100vh;
    display: flex;
    font-family: 'AnekTamil-Regular';
}

.loged-nav{

    flex: 10%;
}

.main-part{
    flex: 86%;
}

 .nav-ul{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 95vh;
    border-right: 1px solid #b4b4b4;    
}

.nav-ul li{
    display: flex;
    justify-content: start;
    list-style: none;
    width: 100%;
    margin-left: 10px;

}



.nav-ul li a{
    width: 90%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
transition: .2s;
}

.nav-ul li a:hover{
    background-color: #f0f0f0;
}

.nav-ul li a svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.active{
background-color: #f5f5f5;
box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.active:hover{
    background-color: #c1f8ff;
}

.loged-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #b4b4b4;
}

.setings-click{
    margin-bottom: 30px;
}

.arrow-svg1{
    width: 20px;
    height: 20px;
    opacity: 0;
    animation: svg-arrow-rotation1 .2s ease-in-out;
}

.arrow-svg-hide{
    opacity: 0;
}

.affiliate-svg-show{
    opacity: 1;

}

.affiliate-svg1{
    opacity: 1;
    animation: svg-affiliate-reverse1 .2s ease-in-out;
    position: absolute;
}


@keyframes svg-arrow-rotation{
    0%{
        transform: rotate(0deg);
        opacity: 0;
    }
    100%{
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes svg-affiliate-reverse{
    0%{
        transform: rotate(360deg);
        opacity: 1;
    }
    100%{
        transform: rotate(0deg);
        opacity: 0;
    }
}