@font-face {
    font-family: 'ProductSansRegular';
    src: url('../assets/ProductSansRegular.ttf');
}

@font-face {
    font-family: 'ProductSansBold';
    src: url('../assets/ProductSansBold.ttf');
}

.login{
    background-image: url('../assets/LoginScreen.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'ProductSansRegular';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.login-form{
    width: 450px;
    height: 300px;
    background-color: rgb(247, 240, 255);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.log{
    font-size: 1.2rem;
}

input[type="text"], input[type="password"], input[type="email"]{
    color: rgb(36, 35, 42);
    font-size: 16px;
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
}

.enter-input{
    display: flex;
    justify-content: center;
    width: 100%;
}

.two{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.login-confirm{
    background-color: #d4ebff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: rgb(46, 46, 46);
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
    
.login-confirm:hover{
    background-color: #bfcfff;
}



.dont-have{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.signup-here{
    color: rgb(114, 170, 253);
}