.main-part.email{
    display: flex;
    justify-content: center;

}

.title.email{
    display: flex;
    justify-content: center;
    color: #2c2c2c;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #999999;
}

.email-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.submit-email{
    cursor: pointer;
    border: none;
    background-color: #3b82f6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.submit-email:hover{
    background-color: #2563eb;
}

.email-add-form{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.email-add-form input{
    cursor: pointer;
    background-color: #9c9c9c;
    width: 30%;   
    display: inline-block;
    padding: 0 16px 0 12px;
    line-height: 30px;
    height: 40px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    background-color: #fff;
    color: rgb(122, 122, 122);
    box-shadow: none;

}

.email-add-form input:hover{
    color: rgb(8, 7, 7);
}

.popup.email{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-box.email{
    position: relative;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 70%;
    animation: slideInFromLeft 0.2s ease-in-out;
}

.close-email-popup{
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.close-email-popup svg{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 30px;
    width: 30px;
    transform: translate(10px, -3px);

}

.popup-box-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2c2c2c;
    padding: 0 20%;
    gap: 10px;
}

.one-send-email{
    border: 1px solid #b1b1b1;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    display: flex;
justify-content: center;
}

.one-send-email:hover{
    background-color: #f3f4f6;
}

.one-wrapper{
    border: 1px solid #b1b1b1;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one-wrapper.first{
    margin-top: 10px;
}

.one-wrapper:hover{
    background-color: #f3f4f6;
}

.delete-wrap{
    border: 1px solid #f871719c;
    padding: 6px 12px;
    border-radius: 10px;
}

.delete-wrap:hover{
    background-color: #f8717146;
}

.status-wrap{
    font-size: .9em;
}

.verified{
    border: 1px solid #4ade80;
    padding: 3px;
    border-radius: 5px;
    background-color: #4ade8042;
}

.unverified{
    border: 1px solid #f87171;
    padding: 3px;
    border-radius: 5px;
    background-color: #f8717156;
}



.add-input{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.add-input input{
    width: 70%;
}

.add-input button{
    cursor: pointer;
    border: none;
    background-color: #3b82f6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.add-input button.submit{
    background-color: #3b82f6;
}

.add-input button.submit:hover{
    background-color: #2563eb;
}

.add-input button.cancle{
    background-color: #f87171;
}

.add-input button.cancle:hover{
    background-color: #cf4a4a;
}

input[type="email"]{
    background-color: #9c9c9c; 
    display: inline-block;
    padding: 0 16px 0 12px;
    line-height: 30px;
    height: 40px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    background-color: #fff;
    color: rgb(122, 122, 122);
    box-shadow: none;
}

.popup-box.email form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.bottom{
    display: flex;
    align-items: center;
}

.bottom p{
    margin-left: 10px;
font-weight: 600;
}

.add-mail-form input{
    background-color: #9c9c9c; 
    display: inline-block;
    padding: 0 16px 0 12px;
    line-height: 30px;
    height: 40px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    background-color: #fff;
    color: rgb(122, 122, 122);
    box-shadow: none;
    width: 300px;
}

.add-mail-btn{
    cursor: pointer;
    border: none;
    background-color: #3b82f6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;

}

.email-wrapper{
    padding-top: 30px;
    border-top: 1px solid #999999;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.email-icons{
    display: flex;
    gap: 10px;
}

.email-icons button{
    cursor: pointer;
    border: 2px solid #6366f1;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    transition: .3s;
}

.email-icons button:hover{
    background-color: #6365f12f;


}

.email-icons .selected-email-btn{
    background-color:#6365f198;
    color: white;
}

.email-icons button.selected-email-btn:hover{
    background-color:#6365f198;
    color: white;
}

@keyframes slideInFromLeft {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}





