.main-part.affiliate-program{
    display: flex;
    justify-content: center;
}

.affiliate-program-inputs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
}

.description-input{
    resize: none;
    width: 30%; 
    display: inline-block;
    padding: 0 16px 0 12px;
    line-height: 30px;
    height: 200px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    background-color: #fff;
    color: rgb(8, 7, 7);
}

.desc-group{
    border-top: solid 1px #c5c5c5;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.registration-input{
    width: 550px;
}

.program-one-affiliate{
    border-top: solid 1px #c5c5c5;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}



.program-one-affiliate input[type="text"]{
    width: 30%;   
    display: inline-block;
    padding: 0 16px 0 12px;
    line-height: 30px;
    height: 40px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    background-color: #fff;
    color: rgb(8, 7, 7);
    box-shadow: none;
    transition: border .1s linear,background-color .1s linear;


}

.svg-edit-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.affiliate-program-topText{
    transform: translateY(2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.affiliate-program-topText div{
width: 30%;
}

.save-changes{
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    transition: .1s;
}

.save-changes:hover{
    background-color: #0056b3;
}

.affiliate-design.program{
    border-top: solid 1px #c5c5c5;
    padding-top: 20px;
}

.affiliate-link-input{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: solid 1px #c5c5c5;
}